/* Configure Bootstrap SASS variables here */
$navbar-inverse-bg:  #681D4D !default;
$table_head_color: #5677ba;
$primary-color: #ffffff;
$content-bg-color: #f8f4f1;
$info_color: #3697cc;
$danger_color: #fb2c5a;
$selected_color: #c8c8c8;
$body_background_color: #063f77;
$textbox_focus_border_color:1px solid #2196F3;
$assigned_color:#d3d1cf;
$covered_color:#76fb76;
$ordersMade_color:#0000f5;
